.w-button {
    padding: 5px 20px;
    appearance: none;
    border: 0;
    height: @default_height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    outline: none;
    border-radius: 2px;
    line-height: 1;
    border: 1px solid @border_color;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
        background-color: fade(@primary_color, 5%);
    }
}

.w-button--mini {
    height: @mini_height;
}

.w-button--small {
    height: @small_height;
}

.w-button--large {
    height: @large_height;
}

.w-button--round {
    border-radius: 1000px;
}

.w-button--primary {
    color: #fff;
    background-color: @primary_color;
    border-color: @primary_color;
    &:hover {
        cursor: pointer;
        border-color: fade(@primary_color, 80%);
        background-color: fade(@primary_color, 80%);
    }
}
.w-button--text {
    color: @primary_color;
    background-color: transparent;
    border-color: transparent;
    &:hover {
        background-color: transparent;
        color: fade(@primary_color, 80%);
    }
}
